UCF11_updated_mpg.rar
UCF11_updated_mpg/
validation_videos/
*.mpg
lab07-action-recognition/UCF11_updated_mpg.rar
lab07-action-recognition/UCF11_updated_mpg/
lab07-action-recognition/validation_videos/
*.mpg
lab07-action-recognition/UCF11_updated_mpg.rar
lab07-action-recognition/UCF11_updated_mpg/
lab07-action-recognition/validation_videos/
*.mpg
lab07-action-recognition/UCF11_updated_mpg.rar
lab07-action-recognition/UCF11_updated_mpg/
lab07-action-recognition/validation_videos/
*.mpg
